*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Roboto', 'Sans serif';
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

/* descuentos */

.desc{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descuento{
    border-radius: 50%;
    background: transparent;
    opacity: 0;

    position: absolute;
    top: -150;
    
    
    animation: burbuja 3s linear infinite ;
}

.descuento:first-child{
    width: 80px;
    height: 80px;
    left: .5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.descuento:nth-child(2){
    width: 80px;
    height: 80px;
    left: 7%;
    animation-duration: 3.5s;
    animation-delay: 3.5s;
}

.descuento:nth-child(3){
    width: 80px;
    height: 80px;
    left: 14%;
    animation-duration: 2.5s;
    animation-delay: 6s;
}

.descuento:nth-child(4){
    width: 80px;
    height: 80px;
    left: 23%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.descuento:nth-child(5){
    width: 80px;
    height: 80px;
    left: 32%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.descuento:nth-child(6){
    width: 80px;
    height: 80px;
    left: 39%;
    animation-duration: 3.5s;
    animation-delay: 6s;
}

.descuento:nth-child(7){
    width: 80px;
    height: 80px;
    left: 45%;
    animation-duration: 3s;
    animation-delay: 5.5s;
}

.descuento:nth-child(8){
    width: 80px;
    height: 80px;
    left: 56%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.descuento:nth-child(9){
    width: 80px;
    height: 80px;
    left: 65%;
    animation-duration: 3.2s;
    animation-delay: 2.5s;
}

.descuento:nth-child(10){
    width: 80px;
    height: 80px;
    left: 70%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.descuento:nth-child(11){
    width: 80px;
    height: 80px;
    left: 78%;
    animation-duration: 2.5s;
    animation-delay: 4s;
}

.descuento:nth-child(12){
    width: 80px;
    height: 80px;
    left: 90%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbuja{
    0%{
        top: 0;
        opacity: 0;
    }
    35%{
        transform: translateX(30px);
        opacity: 0.8;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        top: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}